In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
train_data = pd.read_csv('/Users/kimminsoo/Desktop/ML/data/rain/train.csv')
train_data

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),최대 순간풍속 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),최대 순간 풍속 풍향(hhmi)
0,725,2018-11-03,16.6,14.7,439.0,18.5,1231.0,0.0,4.8,2.6,3.6,1158.0,NaN,NaN,NaN
1,725,2018-05-29,19.3,17.9,739.0,22.6,1505.0,13.5,4.9,1.9,97.1,341.0,NaN,NaN,NaN
2,725,2019-12-10,13.4,8.6,48.0,17.4,1142.0,0.0,5.1,1.8,191.1,334.0,NaN,NaN,NaN
3,725,2010-06-04,18.3,15.6,509.0,21.8,1044.0,0.0,6.0,2.7,NaN,1739.0,0.0,NaN,176.6
4,725,2017-04-01,10.5,9.1,649.0,12.7,1429.0,0.0,8.6,5.3,312.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,725,2020-03-28,9.4,7.8,1138.0,10.4,2321.0,5.0,18.3,7.6,297.8,32.0,NaN,NaN,NaN
3500,725,2014-03-31,13.7,10.7,236.0,18.2,1331.0,0.0,7.7,1.9,NaN,10.0,0.0,NaN,305.8
3501,725,2014-11-23,17.5,15.0,33.0,19.9,1539.0,0.0,8.6,2.5,NaN,1240.0,0.0,NaN,91.6
3502,725,2018-03-09,6.1,4.5,318.0,8.5,1413.0,0.0,8.6,4.1,325.9,1.0,NaN,NaN,NaN
3503,725,2013-09-07,21.5,20.4,2329.0,22.8,1235.0,5.5,10.1,3.5,NaN,441.0,1.5,300.0,50.3

In [40]:
test_data = pd.read_csv('/Users/kimminsoo/Desktop/ML/data/rain/test.csv')
test_data

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),최대 순간풍속 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),최대 순간 풍속 풍향(hhmi)
0,725,2012-01-21,8.9,6.4,2352.0,10.7,1020.0,13.3,6.1,NaN,152.0,0.5,1300.0,68.3
1,725,2014-02-17,8.4,7.4,2010.0,10.3,159.0,18.2,6.2,NaN,1922.0,4.0,1400.0,52.0
2,725,2016-02-18,7.7,3.6,643.0,12.4,1345.0,9.2,2.6,244.5,NaN,NaN,NaN,NaN
3,725,2013-09-16,23.5,21.8,657.0,25.9,1434.0,9.3,3.9,NaN,1021.0,0.0,NaN,343.9
4,725,2014-06-02,20.0,17.9,1314.0,21.7,739.0,16.8,5.5,NaN,929.0,13.5,1300.0,166.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,725,2016-12-14,6.9,5.6,2058.0,9.4,1.0,13.9,7.5,323.4,NaN,NaN,NaN,NaN
870,725,2020-09-02,NaN,24.6,2005.0,27.4,1.0,32.4,15.5,14.9,2009.0,NaN,NaN,NaN
871,725,2014-10-03,19.7,18.0,2141.0,22.0,1456.0,12.6,6.6,NaN,1735.0,0.0,NaN,344.9
872,725,2014-11-01,18.4,17.0,2337.0,19.7,1257.0,11.2,4.7,NaN,2139.0,0.5,500.0,341.5
873,725,2010-12-12,9.2,3.9,116.0,11.6,2237.0,10.2,3.9,NaN,2242.0,2.5,2300.0,120.7

In [41]:
submission = pd.read_csv('/Users/kimminsoo/Desktop/ML/data/rain/submission.csv')
submission

      No  rain fall(mm)
0      1              0
1      2              0
2      3              0
3      4              0
4      5              0
..   ...            ...
869  870              0
870  871              0
871  872              0
872  873              0
873  874              0

[874 rows x 2 columns]

In [42]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   지점                   3504 non-null   int64
 1   일시                   3504 non-null   object
 2   평균기온(°C)             3488 non-null   float64
 3   최저기온(°C)             3493 non-null   float64
 4   최저기온 시각(hhmi)        3493 non-null   float64
 5   최고기온(°C)             3493 non-null   float64
 6   최고기온 시각(hhmi)        3493 non-null   float64
 7   일강수량(mm)             3500 non-null   float64
 8   최대 순간 풍속(m/s)        3471 non-null   float64
 9   평균 풍속(m/s)           3468 non-null   float64
 10  최대 순간 풍속 풍향(deg)     2021 non-null   float64
 11  최대 순간풍속 시각(hhmi)     2882 non-null   float64
 12  1시간 최다강수량(mm)        1726 non-null   float64
 13  1시간 최다 강수량 시각(hhmi)  567 non-null    float64
 14  최대 순간 풍속 풍향(hhmi)    1451 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 410.8+ KB

In [43]:
train_data.describe()

,지점,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),최대 순간풍속 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),최대 순간 풍속 풍향(hhmi)
count,3504.0,3488.000000,3493.000000,3493.000000,3493.000000,3493.000000,3500.000000,3471.000000,3468.000000,2021.000000,2882.000000,1726.000000,567.000000,1451.000000
mean,725.0,16.083458,13.621872,933.031778,18.867421,1233.094188,4.654286,10.690579,4.597982,211.868234,1159.609646,1.618192,1015.696649,224.012612
std,0.0,7.348484,7.469565,863.470843,7.579020,453.271618,16.287440,4.819864,2.488808,112.100839,739.280200,5.185313,753.167985,112.853344
min,725.0,-1.900000,-4.300000,0.000000,-1.100000,0.000000,0.000000,1.500000,0.600000,0.000000,0.000000,0.000000,0.000000,0.700000
25%,725.0,10.100000,7.300000,302.000000,12.900000,1151.000000,0.000000,7.000000,2.700000,97.500000,451.250000,0.000000,300.000000,115.550000
50%,725.0,16.600000,13.900000,545.000000,19.500000,1318.000000,0.000000,10.000000,4.100000,262.800000,1233.500000,0.000000,800.000000,242.900000
75%,725.0,22.100000,20.100000,2020.000000,24.900000,1431.000000,1.000000,13.600000,6.000000,313.000000,1743.750000,0.500000,1700.000000,328.300000
max,725.0,29.800000,27.400000,2400.000000,35.100000,2400.000000,287.500000,55.800000,19.200000,359.900000,2400.000000,80.000000,2400.000000,359.800000

In [44]:
train_data['지점'].value_counts()

725    3504
Name: 지점, dtype: int64

In [45]:
# 결측치 확인 및 제거
train_data = train_data.drop(['일시', '지점', '최저기온 시각(hhmi)', '최고기온 시각(hhmi)', '최대 순간풍속 시각(hhmi)', '1시간 최다 강수량 시각(hhmi)', '최대 순간 풍속 풍향(hhmi)'], axis=1)
train_data

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),1시간 최다강수량(mm)
0,16.6,14.7,18.5,0.0,4.8,2.6,3.6,NaN
1,19.3,17.9,22.6,13.5,4.9,1.9,97.1,NaN
2,13.4,8.6,17.4,0.0,5.1,1.8,191.1,NaN
3,18.3,15.6,21.8,0.0,6.0,2.7,NaN,0.0
4,10.5,9.1,12.7,0.0,8.6,5.3,312.7,NaN
...,...,...,...,...,...,...,...,...
3499,9.4,7.8,10.4,5.0,18.3,7.6,297.8,NaN
3500,13.7,10.7,18.2,0.0,7.7,1.9,NaN,0.0
3501,17.5,15.0,19.9,0.0,8.6,2.5,NaN,0.0
3502,6.1,4.5,8.5,0.0,8.6,4.1,325.9,NaN
3503,21.5,20.4,22.8,5.5,10.1,3.5,NaN,1.5

In [46]:
train_data.isnull().sum()

평균기온(°C)              16
최저기온(°C)              11
최고기온(°C)              11
일강수량(mm)               4
최대 순간 풍속(m/s)         33
평균 풍속(m/s)            36
최대 순간 풍속 풍향(deg)    1483
1시간 최다강수량(mm)       1778
dtype: int64

In [47]:
train_data = train_data.dropna()

In [48]:
train_data

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),1시간 최다강수량(mm)
5,11.8,9.1,14.3,11.5,12.0,5.5,336.4,4.5
28,21.2,18.5,24.4,0.0,8.8,3.1,74.4,0.0
42,11.1,8.3,15.2,9.0,9.4,4.2,333.3,3.0
46,16.9,15.3,18.9,7.5,9.8,4.2,91.3,3.5
63,10.9,5.6,16.2,0.0,7.5,2.4,240.1,0.0
...,...,...,...,...,...,...,...,...
3467,16.7,12.7,19.2,0.0,10.8,12.0,55.1,0.0
3480,9.9,7.9,12.4,0.0,9.7,3.1,329.8,0.0
3490,20.9,18.3,22.9,98.0,11.7,4.8,104.9,11.0
3494,7.5,5.9,10.1,0.0,8.1,3.1,70.5,0.0
3498,6.6,2.3,9.4,2.0,17.9,9.4,319.5,1.0

In [49]:
train_data.describe()

,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),1시간 최다강수량(mm)
count,279.000000,279.000000,279.000000,279.000000,279.000000,279.000000,279.000000,279.000000
mean,15.815771,13.108961,19.065950,5.901434,10.719713,4.270609,233.098566,1.921147
std,7.007989,7.051503,7.463934,17.268566,4.769795,2.497782,112.427613,5.666786
min,1.000000,-1.600000,3.200000,0.000000,4.000000,1.000000,4.500000,0.000000
25%,9.650000,6.200000,12.850000,0.000000,7.300000,2.400000,100.350000,0.000000
50%,16.500000,14.000000,19.300000,0.000000,10.100000,3.600000,308.600000,0.000000
75%,21.800000,18.900000,25.700000,1.250000,12.800000,5.450000,331.750000,0.500000
max,28.200000,26.500000,33.300000,159.000000,55.800000,19.200000,356.700000,49.000000

In [50]:
from sklearn.linear_model import LinearRegression

X = train_data.drop('일강수량(mm)', axis=1).to_numpy()
y = train_data['일강수량(mm)'].to_numpy()

In [51]:
print(type(X))

<class 'numpy.ndarray'>

In [52]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)
X_train_scaled = scaler.transform(X)

In [53]:
from sklearn.model_selection import KFold

kfold = KFold(9)

kfold.split(X)

In [54]:
from sklearn.metrics import r2_score

r2_scores = []
lr = LinearRegression()

for train_idx, test_idx in kfold.split(X):
    X_train, X_test = X[train_idx], X[test_idx]
    y_train, y_test = y[train_idx], y[test_idx]

    reg = lr.fit(X_train, y_train)
    y_pred = reg.predict(X_test)

    r2 = r2_score(y_test, y_pred)
    r2_scores.append(r2)

In [55]:
r2_scores, np.mean(r2_scores)

([0.6823278953355567,
  0.8314459531505198,
  0.4713737154133305,
  0.884630906920588,
  0.8113827007470109,
  0.9286716636259953,
  0.6016597079340924,
  0.8029448098956293,
  0.5659354787631437],
 0.7311525368650963)

In [56]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

kfold = KFold(9, shuffle=True, random_state=5)
lr = LinearRegression()

print(cross_val_score(lr,X,y, cv=9))

[0.6823279  0.83144595 0.47137372 0.88463091 0.8113827  0.92867166
 0.60165971 0.80294481 0.56593548]

### test_data

In [57]:
rainfall_test = test_data.drop(['일시', '지점', '최저기온 시각(hhmi)', '최고기온 시각(hhmi)', '최대 순간풍속 시각(hhmi)', '1시간 최다 강수량 시각(hhmi)', '최대 순간 풍속 풍향(hhmi)'], axis=1)
rainfall_test

,평균기온(°C),최저기온(°C),최고기온(°C),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),1시간 최다강수량(mm)
0,8.9,6.4,10.7,13.3,6.1,NaN,0.5
1,8.4,7.4,10.3,18.2,6.2,NaN,4.0
2,7.7,3.6,12.4,9.2,2.6,244.5,NaN
3,23.5,21.8,25.9,9.3,3.9,NaN,0.0
4,20.0,17.9,21.7,16.8,5.5,NaN,13.5
...,...,...,...,...,...,...,...
869,6.9,5.6,9.4,13.9,7.5,323.4,NaN
870,NaN,24.6,27.4,32.4,15.5,14.9,NaN
871,19.7,18.0,22.0,12.6,6.6,NaN,0.0
872,18.4,17.0,19.7,11.2,4.7,NaN,0.5
873,9.2,3.9,11.6,10.2,3.9,NaN,2.5

In [58]:
rainfall_test = rainfall_test.dropna()

In [92]:
rainfall_test.to_numpy().shape

(85, 7)

In [91]:
rainfall_test_scaled = scaler.transform(rainfall_test.to_numpy())
lr.fit(rainfall_test_scaled, y_train)
rainfall_pred = lr.predict(rainfall_test_scaled)

ValueError: Found input variables with inconsistent numbers of samples: [85, 248]

In [ ]:
rainfall_df = pd.DataFrame(rainfall_test_scaled)
rainfall_df

            0         1         2         3         4         5         6
0   -0.988614 -0.953132 -1.122864  0.541936  0.733722       NaN -0.251236
1   -1.060090 -0.811064 -1.176551  1.571080  0.773829       NaN  0.367508
2   -1.160155 -1.350924 -0.894693 -0.319184 -0.670039  0.101594       NaN
3    1.098466  1.234724  0.917255 -0.298181 -0.148642       NaN -0.339628
4    0.598139  0.680656  0.353538  1.277039  0.493077       NaN  2.046956
..        ...       ...       ...       ...       ...       ...       ...
869 -1.274516 -1.066787 -1.297348  0.667954  1.295226  0.804640       NaN
870       NaN  1.632516  1.118583  4.553497  4.503823 -1.944279       NaN
871  0.555253  0.694863  0.393803  0.394915  0.934259       NaN -0.339628
872  0.369417  0.552794  0.085101  0.100874  0.172218       NaN -0.251236
873 -0.945729 -1.308304 -1.002068 -0.109155 -0.148642       NaN  0.102332

[874 rows x 7 columns]

In [ ]:
submission['rain fall(mm)'] = rainfall_df
submission

ValueError: Columns must be same length as key